# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
SECRET_KEY=my_SECRET_KEY #Ваш_SECRET_KEY
DEBUG=True # Режим отладки

# Конфигурация базы данных
DB_NAME=my_data_base # Имя базы данных
DB_USER=username # Имя пользователя (например, postgres)
DB_PASSWORD=password # Пароль базы данных
DB_HOST=db # Хост для базы данных
DB_PORT=5432 # Номер порта, который закреплен за PostgreSQL по умолчанию

# Настройка разрешенных адресов (Origins)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000